@import "../../variables";
@import "../../Theme/dark";
@import "../../Theme/light";

.main-content {
  margin-top: 105px;
  margin-left: 380px;
  height: calc(100vh - 107px);
  padding: 16px 0;
  margin-right: 60px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  // box-shadow: var(--box-shadow-1);
  width: 100%;
  //   z-index: 1;

  .pageContent {
    // background-color: var(--background-color-1);
    border-radius: $border-radius-1;
    color: var(--secondary-color);
    padding: 10px;
    // min-height: 590px;
    // box-shadow: var(--box-shadow-1);
  }
}

.main-content::-webkit-scrollbar {
  display: none;
}

@media all and (max-width: 900px) {
  .main-content {
    width: 95%;
    margin: auto;
    .animate__animated {
      animation: none;
    }
  }
}

@media all and (min-width: 532px) and (max-width: 884px) {
  .main-content {
    width: 94%;
    margin: auto;
    padding-bottom: 144px;
    padding-top: 19px;
  }
}

@media all and (max-width: 480px) {
  .main-content {
    width: 95%;
    margin-top: -10px;
    padding-top: 8px;
    padding-bottom: 84px;
  }
}
