@import '../../../variables';
@import '../../../Theme/dark';
@import '../../../Theme/light';

.projectsPage{
    background-color: var(--background-color-1);
    border-radius: $border-radius-1;
    color: var(--secondary-color);
    border: 1px solid;
    padding: 10px;
}