@import "../../variables";
@import "../../Theme/dark";
@import "../../Theme/light";

.navbar {
  padding: 15px;
  text-align: center;
  position: fixed;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 1000;
  background-color: var(--background-color-1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: $border-radius-1;
  box-shadow: var(--box-shadow-1);

  .logo {
    .logo-title {
      font-family: $logo-font-family;
      font-weight: bolder;
      font-size: 2.2rem;
      color: var(--text-color);
      padding: 0 5px;
      font-variant-ligatures: no-common-ligatures;
      -webkit-font-variant-ligatures: no-common-ligatures;
      filter: $logo-drop-shadow;
    }
    .grey-color {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      // font-weight: bold;
      font-size: 2rem;
      color: $logo-bracket-color;
      padding: 0 15px;
      font-variant-ligatures: no-common-ligatures;
      -webkit-font-variant-ligatures: no-common-ligatures;
    }
  }

  .links {
    width: 65%;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      li {
        list-style: none;
        position: relative;
        font-family: "Twentieth Century" sans-serif;
        a {
          text-decoration: none;
          font-weight: 500;
          color: var(--links-color);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          font-size: 16px;
          transition: all 0.3s ease-in-out;
          .icon {
            color: rgb(83, 84, 115);
            transition: all 0.2s;
          }
        }
        a:hover {
          .icon {
            color: var(--links-hover-color);
          }
        }
        a.active {
          color: var(--links-hover-color);
          .icon {
            color: var(--links-hover-color);
          }
        }
        a::before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 3px;
          width: 0%;
          height: 0.5px;
          background-color: var(--links-hover-color);
          transition: all 0.5s;
        }
        a:hover::before {
          width: 100%;
        }
      }
      li::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 3px;
        width: 100%;
        height: 0.5px;
        background-color: rgb(83, 84, 115);
        // transition: all 0.5s;
      }
    }
  }
}

@media all and (max-width: 900px) {
  .navbar {
    left: 0;
    bottom: 0;
    right: 0;
    top: calc(100vh - 100px);
  }
}

@media all and (min-width: 800px) and (max-width: 1252px) {
  .logo-title {
    font-size: 1.7rem;
  }
  .grey-color {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 532px) and (max-width: 884px) {
  .navbar {
    border-radius: $border-radius-responsive;
    .logo {
      display: none;
    }
    .links {
      width: 100%;
      ul {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 18px;
          }
          a::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 0%;
            height: 0.5px;
            background-color: var(--links-hover-color);
            transition: all 0.5s;
          }
          a:hover::before {
            width: 100%;
          }
        }
        li::before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          height: 0.5px;
          background-color: rgb(83, 84, 115);
          // transition: all 0.5s;
        }
      }
    }
  }
}
@media all and (max-width: 480px) {
  .navbar {
    border-radius: $border-radius-responsive;
    .logo {
      display: none;
    }
    .links {
      width: 100%;
      ul {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 11px;
          }
          a::before {
            content: "";
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 0%;
            height: 0.5px;
            background-color: var(--links-hover-color);
            transition: all 0.5s;
          }
          a:hover::before {
            width: 100%;
          }
        }
        li::before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          height: 0.5px;
          background-color: rgb(83, 84, 115);
          // transition: all 0.5s;
        }
      }
    }
  }
}
