@import '../../variables';
@import '../../Theme/dark';
@import '../../Theme/light';

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: var(--background-color-1);

    .animation{
        display: inline-block;
        width: 30%;
    }
    .randomString{
        text-align: center;
        width: 80%;
        color: $logo-bracket-color;
        filter: $logo-drop-shadow;
    }

    @media all and (min-width: 532px) and (max-width: 801px){
        .animation{
            width: 50%;
        }
    }
    @media all and (max-width: 480px) {
        .animation{
            width: 50%;
        }
        .randomString{
            font-size: 0.8rem;
        }
    }
}

.loader-title{
    .logo-title{
        font-family: $logo-font-family;
        font-weight: bolder;
        font-size: 3.2rem;
        color: var(--text-color);
        padding: 0 5px;
        font-variant-ligatures: no-common-ligatures;
        -webkit-font-variant-ligatures: no-common-ligatures;
        filter: $logo-drop-shadow;
    }
    .grey-color{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        // font-weight: bold;
        font-size: 2rem;
        color: $logo-bracket-color;
        padding: 0 15px;
        font-variant-ligatures: no-common-ligatures;
        -webkit-font-variant-ligatures: no-common-ligatures;
    }

    @media all and (min-width: 532px) and (max-width: 800px){
        .logo-title{
            font-size: 2.3rem;
        }
        .grey-color{
            font-size: 1.7rem;
        }
    }
    @media all and (max-width:480px){
        .logo-title{
            font-size: 1.5rem;
        }
        .grey-color{
            font-size: 1.2rem;
        }
    }
}
