*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color-2);
}

.content-container {
  display: flex;
  flex-grow: 1;
}

@media all and (max-width: 900px) {
  .content-container {
    flex-direction: column;
  }
}
