@import "../../../variables";
@import "../../../Theme/dark";
@import "../../../Theme/light";

.educationPage {
  .parentEdContainer {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-direction: column;
    .educationContainer {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 20px;
      width: 90%;
      margin: auto;
      .aboutEducation {
        box-shadow: var(--box-shadow-3);
        background: rgb(255, 255, 255);
        position: relative;
        border-radius: 10px;
        font-size: 15px;
        .instituteDiv {
          background-color: rgb(8, 215, 243);
          border-radius: 10px 10px 0 0;
          color: rgb(0, 27, 85);
          font-family: $font-family-text-1;
          // font-weight:;
          padding: 20px 15px;
          display: flex;
          justify-content: space-between;
          gap: 10px;
          align-items: flex-start;
          .instituteTitle {
            h2 {
              font-weight: bolder;
              font-size: 25px;
            }
            p {
              font-weight: 700;
              font-size: 15px;
            }
          }
          small {
            display: inline-block;
            padding-top: 1.5%;
            font-weight: 800;
          }
        }
        .visitButton {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px auto;
        }
        .description {
          margin: 15px 20px;
          font-size: 19px;
          color: rgb(0, 27, 85);
        }
      }
      img {
        width: 15%;
        border-radius: 50%;
        box-shadow: var(--box-shadow-2);
      }
    }
  }
}

@media all and (min-width: 532px) and (max-width: 884px) {
  .educationPage {
    .parentEdContainer {
      .educationContainer {
        flex-direction: column;
        width: 100%;
        .aboutEducation {
          width: 94%;
        }
        img {
          width: 20%;
        }
      }
    }
  }
}

@media all and (max-width: 480px) {
  .educationPage {
    .parentEdContainer {
      .educationContainer {
        flex-direction: column;
        width: 100%;
        .aboutEducation {
          width: 100%;
          .instituteDiv {
            .instituteTitle {
              h2 {
                font-size: 17px;
              }
              p {
                font-size: 12px;
              }
            }
          }
          .description {
            font-size: 14px;
          }
        }
        img {
          width: 30%;
        }
      }
    }
  }
}
